#cv-header {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, rgb(248, 245, 255), rgb(248, 248, 248)),#ddd;
    box-shadow: 0px 0px 3px rgb(214, 209, 225);
    height: 100%;
}

#cv-header ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    height: 100%;
    margin:0;
    padding:0;
}
#cv-header li {
    padding: 15px;
    height: 100%;
}
#cv-header li:hover {
    cursor: pointer;
    background-color: #e2e1ef;
}