.entry-viewer {
    width: 100%;

    padding: 12px;
    box-sizing: border-box;
    background: linear-gradient(to right, rgb(248, 245, 255), rgb(248, 248, 248)),#eee;
    box-shadow: 0px 0px 3px rgb(214, 209, 225);
}
.entry-viewer .entry {
    padding: 4px;
    padding-bottom: 8px;
    box-sizing: border-box;

    border-bottom: 2px solid #ddd;
}
.entry-viewer .entry:last-child { 
    border: none; 
}

.entry-viewer .entry span {
    font-style: italic;
    padding-right: 10px;
    color: #777;
    font-weight: bold;
    white-space: wrap;
}

.entry-viewer .entry p {
    overflow-wrap: anywhere;
} 