#weekView .week {
    display: flex;
    height: 100px;
}

#weekView .week .weekDay {

    flex-grow: 1;
    flex-basis: 0;
    height: 100%;

    border: 2px solid #ddd;
    border-right: none;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    padding: 5px;

    background-color: white;

    cursor:pointer;
}
#weekView .week .weekDay:last-child {
    border-right: 2px solid #ddd;
}

#weekView .week .weekDay.invalid-day {
    opacity: 0.5;
    background-color: #ccc;
    border: 2px solid #aaa;
    border-right: none;
    
    cursor:default;
}
#weekView .week .weekDay.invalid-day:last-child {
    border-right: 2px solid #aaa;
}

#weekView .week .weekDay .dateLabel {
    font-weight: bold;
    color: #555;
}

#weekView .week .weekDay > div {
    display: flex;
    justify-content: space-between;
    color: #888;
}

#weekView .week .weekDay:hover {
    filter: brightness(0.95)
}