#yearView .month {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, rgb(248, 245, 255), rgb(248, 248, 248)),#ddd;
    filter: brightness(0.9);
    box-shadow: 0px 0px 3px rgb(214, 209, 225);
}
#yearView .month.valid {
    filter: none;
}

#yearView .month > span {
    padding: 15px;
    height: 100%;
}
#yearView .month.valid:hover {
    cursor: pointer;
    background: #e2e1ef;
}